.col .nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.slider {
    width: 80%;
    overflow: hidden;
    /* background: #222; */
    white-space: nowrap;
}

.infinite {
    display: inline-block;
    padding-left: 100%;
    animation: ticker-scroll 8s linear infinite;
}

.infinite span {
    display: inline-block;
    padding: 0 2rem;
}

@keyframes ticker-scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.we {
    height: 300px;
    align-items:baseline;
}

ul li {
    font-size: x-large;
}
.foot{
    height: 50px;
    justify-content: space-between;
    align-items: center;
}