*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.banner{
    /* width: 1544px; */
    /* width: 1450px; */
    width: 1544px;
    height: 643px;
    position: relative; 
    

}
.ban{
    padding: 0px;
    margin-left: -12px;
    background-color: rgb(87, 115, 139); 
}
.homep{
    position: absolute;
    width: 400px;
    border: 3px solid;
    padding: 10px;
    border-radius: 20px;
    top: 15%;
    right: 15%;
    text-align: justify;
    transform: translate(50%, 50%);
}
.homwRow{
    padding: 20px;
    height: 500px;   
    display: flex;
    /* width: 1500px; */
    background-color: antiquewhite;
    justify-content: space-around;
    align-items: center;
}
.homeRow{
    /* width: 300px; */
    
    border: 3px solid;
    height: 400px;
    background-color: aquamarine;
}
/* .footer{
    background-color: antiquewhite;
    height: 200px;
}
.footer p{
    text-align: center;
    
} */
.policyImg{
    background-image: url('C:\Users\LENOVO T450s\ReactjsProject\NewReactProject\NewReactProject\src\assets\juliane-liebermann-O-RKu3Aqnsw-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}
.quates{
    margin-top: 6%;
    margin-bottom: 8%;
}
.quates span{
    background-color:blue;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    margin: 10px;
    /* font-size: 5rem; */
}
.quates h1{
    font-size: 4rem;
    color: white;
    font-weight: 500;
}
.quates p{
    color: white;
    font-size:large;
    font-weight: 700;
    margin-top: 50px ;
}
.quates button{
    padding: 15px 30px;
    border-radius: 8px;
    margin-bottom: 40px;
}
/* .content h2{
    font-size: ;
} */
 .box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; 
    color: black;
 }