.fetcbyid {
    /* justify-content: center;
    align-content: center; */
    border-radius: 10px;

    background-color: rgb(151, 199, 151);
}


.crud {
    height: 75vh;
    margin-top: 10px;
}

@media screen and (max-width:900px) {
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5;
        --font-size-xxl: 1.8rem;

    }

    /* body.show-mobile-menu .navbar::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background:rgba(0, 0, 0, 0);
    } */
    .inavbar :where(#menu-close-button, #menu-open-button) {
        font-size: var(--font-size-l);
    }

    .inavbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .inavbar #menu-open-button {
        color: rgb(75, 12, 12);
        z-index: 105;
        /* background-color: aliceblue; */
    }

    .inavbar .nav {
        /* color: rgb(244, 6, 65); */
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background-color: white;
        transition: left 0.2 ease;
    }

    body.show-mobile-menu .inavbar .nav {
        left: 0;
    }

    .inavbar .nav .nav-link {
        color: black;
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
    }
}